#updated from vs code
#hello
#test
#Test 2
fastapi[standard]==0.115.13
PyMySQL==1.1.1
SQLALchemy==2.0.43
python-dotenv==1.1.0
pydantic-settings==2.9.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
bcrypt==3.2.2
#Test 4
# Test 7
# Test6
# Test 8
# tttttttttttttt
# Test 9
# Test 10
# Test 11
# Test 13